.rounded-pane {
    -fx-background-color: #D2B48C;  /* Warna background */
    -fx-background-radius: 25;        /* Membuat sudut membulat */
    -fx-border-radius: 25;            /* Membulatkan border */
    -fx-border-color: black;    /* Pastikan border tidak terlihat */
    -fx-border-width: 3px;    /* Pastikan border tidak terlihat */
    -fx-background-insets: 0;         /* Mencegah area kosong di sekitar */
    -fx-padding: 0;                   /* Hilangkan padding default */
}

.button-effect {
    -fx-background-color: #023e8a; /* Warna default */
    -fx-cursor: hand;
}

.button-effect:hover {
    -fx-background-color: #03045e; /* Warna saat hover */
}

.button-effect:pressed {
    -fx-background-color: #0096c7; /* Warna saat tombol ditekan */
}
